# Package Files 
*.jar
*.war
*.ear

#eclipse
.classpath
.project
.settings/
.metadata/
.springBeans
eclipse-build
RemoteSystemsTempFiles/

#idea
.idea/
*.iml
*.ipr
*.iws
build-idea/

#maven
target/
deploy/
dist/
build/

logs/
log/
tmp/

#mac 
.DS_Store
